.button {
	color: #ffcdb2;
	background-color: white;
	padding: 16px;
	border-radius: 6px;
	text-decoration: none;
	box-shadow: 5px 4px 2px 2px #ffcdb2;
	margin-bottom: 24px;
}

.button2 {
	color: white;
	background-color: #ffcdb2;
	padding: 16px;
	border-radius: 6px;
	text-decoration: none;
	margin: 24px;
}

.button:hover{
	color: #ff4d6d;
  	text-decoration: none;
}

.button2:hover{
	color: #ff4d6d;
  	text-decoration: none;
}

.typeform {
	text-align: center;
	margin-bottom: 30px;
}